<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/.css")
    @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <input hidden value="@ViewBag.CurUserId" name="CurUserId" />
                @if (ViewBag.DateMonth1 != null)
                { 
                    <span>
                        @Html.DropDownList("DateMonth", (IEnumerable<SelectListItem>)ViewData["DateMonth1"], null, new { id = "Months", style = "width : 200px; background:#5682a3", @class = "navbar-brand", onchange = "onMyDropDownChange()", CurUserId = @ViewBag.CurUserId, adminId = @ViewBag.adminId }) @Html.ValidationMessage("DatePays")
                    </span>
                }
                @Html.ActionLink("Финансы компании", "CompanyFinanses", "Admin", new { area = "", CurUserId = Convert.ToInt32(ViewBag.CurUserId) }, new { @class = "navbar-brand" })

                @Html.ActionLink("Все договоры", "Index", "Admin", new { area = "", id = Convert.ToInt32(ViewBag.CurUserId) }, new { @class = "navbar-brand" })

                @Html.ActionLink("Сотрудники", "Employees", "Admin", new { area = "", CurUserId = Convert.ToInt32(ViewBag.CurUserId) }, new { @class = "navbar-brand" })
                @Html.ActionLink("Зарплаты", "Salary", "Admin", new { area = "", CurUserId = Convert.ToInt32(ViewBag.CurUserId) }, new { @class = "navbar-brand" })
                @Html.ActionLink("Типы работ", "Events", "Admin", new { area = "", CurUserId = Convert.ToInt32(ViewBag.CurUserId) }, new { @class = "navbar-brand" })

                @Html.ActionLink("Режим сотрудника", "ChangeToUser", "Admin", new { area = "", CurUserId = Convert.ToInt32(ViewBag.CurUserId) }, new { @class = "navbar-brand" })


                @Html.ActionLink("Выйти", "Exit", "Admin", new { @class = "navbar-brand" })
                @*<text class="navbar-brand"><strong>@ViewBag.User</strong> </text>*@


            </div>

          

             
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Day. @DateTime.Now.Month. @DateTime.Now.Year  – Love Gid</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    function onMyDropDownChange() {

        window.location.href = '@(Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString()))?numberofMonth=' + $("#Months").get(0).selectedIndex + "&CurUserId=" +@ViewBag.CurUserId+ "&id=" +@ViewBag.CurUserId;      }

</script>