
@{
    ViewBag.Title = "Добавление операции";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<h2>Добавление операции</h2>

<div class="container">
    <header>


        <nav class="secondary_header" id="menu">
            <section>


                @using (Html.BeginForm("AddPaymentDetail", "Home", FormMethod.Post))
                {

                    <input hidden value="@ViewBag.CurUserId" name="CurUserId" />
                    <input hidden value="@ViewBag.adminId" name="adminId" />

                    <p>@Html.ActionLink("Обратно к списку", "MyFinanses")</p>
                    <table>




                        <tr>
                            <td>
                                <p>
                                    Размер платежа:
                                </p>
                            </td>

                            <td><p> @Html.TextBox("Receipt", null, new { @class = "form-control", type = "number", @min = "0" })</p></td>
                        </tr>
                        <tr>
                            <td><p>Счет для перевода:</p></td>
                            <td><p> @Html.DropDownList("Account", (IEnumerable<SelectListItem>)ViewData["Accounts"], null, new { style = "width : 200px", @class = "form-control" }) @Html.ValidationMessage("Accounts")</p></td>

                        </tr>


                        <tr>
                            <td><p>Проект (Договор): </p></td>
                            <td><p> @Html.DropDownList("Contract", (IEnumerable<SelectListItem>)ViewData["Contracts"], null, new { style = "width : 200px", @class = "form-control" }) @Html.ValidationMessage("Contracts")</p></td>
                        </tr>


                        <tr>
                            <td><p>Тип работы: </p></td>
                            <td><p> @Html.DropDownList("Event", (IEnumerable<SelectListItem>)ViewData["Events"], null, new { style = "width : 200px", @class = "form-control" }) @Html.ValidationMessage("Events")</p></td>


                        </tr>
                        <tr id="hideMe">
                            <td><p>В компанию:</p></td>
                            <td><p> @Html.TextBox("SumToOptyonallyUsing", null, new { @class = "form-control", type = "number", @min = "0" })</p></td>
                        </tr>
                        <tr>
                            <td><p>Для кого оплата: </p></td>
                            <td><p> @Html.DropDownList("Employee", (IEnumerable<SelectListItem>)ViewData["Employees"], null, new { style = "width : 200px", @class = "form-control" }) @Html.ValidationMessage("Employees")</p></td>


                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Комментарий к платежу:
                                </p>
                            </td>
                            <td><p> @Html.TextBox("Comment", null, new { @class = "form-control" })</p></td>
                        </tr>
                        <tr>
                            <td><p>Дата оплаты: </p></td>
                            <td>
                                <p>
                                    <input type="date" name="calendarPay" class="form-control" value="@ViewBag.DateOfSign">
                                </p>
                            </td>
                        </tr>


                    </table>
                    <p></p>
                    <p><input type="submit" value="Сохранить" /></p>
                }








            </section>
        </nav>
    </header>


</div>

<script>
    $(function () {
        var type = ($('#Event option:selected').text());

        if (type == "Договор Прочее") { $("#hideMe").show(); }
        else {

            $("#hideMe").hide();
        }
    });
</script>
<script>
    $('#Event').on('change', function () {
  
        var type = ($('#Event option:selected').text()); 
      
        if (type == "Договор Прочее") {  $("#hideMe").show(); }
        else {
             
            $("#hideMe").hide(); }
    });
</script>