
@{
    ViewBag.Title = "Мои финансы";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<h1>Мои финансы</h1>
<h3>1.Детализация платежей</h3>
<p>@ViewBag.Error</p>
@using (Html.BeginForm("MyFinanses", "Home", FormMethod.Post))
{
    <input hidden value="@ViewBag.CurUserId" name="CurUserId" />
    <input hidden value="@ViewBag.adminId" name="adminId" />

    <table>
        <tr>
            <td>Приход</td>
            <td>Счет</td>
            <td>Проект</td>
            <td>Тип</td>
            <td>Кому деньги</td>
            <td>Коммент</td>
            <td>Дата</td>

        </tr>
        @foreach (Payments cw in (IEnumerable<Payments>)ViewBag.Payments)
        {

            <tr onclick="window.location.href = '@Url.Action("EditPaymentDetail", "Home", new { id = cw.Id , CurUserId = Convert.ToInt32(@ViewBag.CurUserId), adminId = Convert.ToInt32(@ViewBag.adminId)})'">
                <td>@cw.Receipt</td>
                @if (@cw.Account != null)
                {
                    <td>@cw.Account.Type</td>}
                else
                {
                    <td><b>Счет не указан!</b></td>}


                @*<td>@cw.Contract.Name</td>*@
                @if (@cw.Contract != null)
                {
                    <td>@cw.Contract.Date_of_event.ToString().Split(' ')[0]  —  (@cw.Contract.EmployeeSet.Name.First()@cw.Contract.EmployeeSet.Surname.First()) @cw.Contract.ClientSet.FIO</td>}
                else
                {
                    <td>Не указано</td>}
                <td>@cw.Event.Type</td>

                <td>@cw.EmployeeTo.Name @cw.EmployeeTo.Surname</td>
                <td>@cw.Comment</td>
                <td>@cw.Date.Day.@cw.Date.Month.@cw.Date.Year</td>

            </tr>

        }
    </table>
    <p><b>Итого @ViewBag.PaymentSum</b></p>
    <p><input type="submit" value="Добавить" name="MyPays" class="form-control-added" /></p>

    <h3>2. Переводы в кассу</h3>

    <table class="NumericTable">
        <tr>
            <td> <b>Сумма</b></td>
            <td><b>Счет</b></td>
            <td><b>Дата</b></td>
            <td><b>Проверка</b></td>


        </tr>
        @foreach (Pay_min cw in (IEnumerable<Pay_min>)ViewBag.Pay_min)
        {
            if (@cw.Finished)
            {
                <tr class="KeyForPay" onclick="window.location.href = '@Url.Action("EditPay_min", "Home", new { id = cw.Id,CurUserId = Convert.ToInt32(@ViewBag.CurUserId), adminId = Convert.ToInt32(@ViewBag.adminId) })'">
                    <td> <b>@cw.Sum</b></td>
                    <td><b>@cw.Account.Type</b></td>
                    <td><b>@cw.Date.Day.@cw.Date.Month.@cw.Date.Year</b></td>
                    <td><b>✔</b></td>

                </tr>}
            else
            {
                <tr class="KeyForPay" onclick="window.location.href = '@Url.Action("EditPay_min", "Home", new { id = cw.Id ,CurUserId = Convert.ToInt32(@ViewBag.CurUserId), adminId = Convert.ToInt32(@ViewBag.adminId)})'">

                    <td> <b>@cw.Sum</b></td>
                    <td><b>@cw.Account.Type</b></td>
                    <td><b>@cw.Date.Day.@cw.Date.Month.@cw.Date.Year</b></td>
                    <td><b>Не соответствие суммы, счета или даты</b></td>

                </tr>}
        }

    </table>
    <p><b>Итого @ViewBag.Pay_minSum</b></p>

    <p><input type="submit" value="Добавить" name="Handed" class="form-control-added" /></p>

    if (@ViewBag.InformerCount != 0)
    {
        <h3>3. План выплат от клиентов</h3>
        <table>
            <tr>
                <td> <b>Сумма</b></td>
                <td><b>Проект</b></td>
                <td><b>Тип</b></td>
                <td><b>Дата</b></td>
                <td><b>Статус</b></td>

            </tr>

            @foreach (Contract cw in (IEnumerable<Contract>)ViewBag.Informer)
            {
                if (cw.Payment1Date != null && cw.Payment1Date.Value.Month == DateTime.Today.Month && cw.Payment1Date.Value.Year == DateTime.Today.Year)
                {
                    <tr>
                        <td class="Informer"> <b>@cw.Payment1Sum</b></td>
                        <td><b>@cw.Name</b></td>
                        <td><b>@cw.EventSet.Type</b></td>
                        <td><b>@cw.Payment1Date.Value.Day.@cw.Payment1Date.Value.Month.@cw.Payment1Date.Value.Year</b></td>

                        <td><b>@cw.Status</b></td>
                    </tr>}
                else
                     if (cw.Payment2Date != null && cw.Payment2Date.Value.Month == DateTime.Today.Month && cw.Payment2Date.Value.Year == DateTime.Today.Year)
                {
                    <tr>
                        <td class="Informer"> <b>@cw.Payment2Sum</b></td>
                        <td><b>@cw.Name</b></td>
                        <td><b>@cw.EventSet.Type</b></td>
                        <td><b>@cw.Payment2Date.Value.Day.@cw.Payment2Date.Value.Month.@cw.Payment2Date.Value.Year</b></td>
                        <td><b>@cw.Status</b></td>
                    </tr>}
                else
                     if (cw.Payment3Date != null && cw.Payment3Date.Value.Month == DateTime.Today.Month && cw.Payment3Date.Value.Year == DateTime.Today.Year)
                {
                    <tr>
                        <td class="Informer"> <b>@cw.Payment3Sum</b></td>
                        <td><b>@cw.Name</b></td>
                        <td><b>@cw.EventSet.Type</b></td>
                        <td><b>@cw.Payment3Date.Value.Day.@cw.Payment3Date.Value.Month.@cw.Payment3Date.Value.Year</b></td>
                        <td><b>@cw.Status</b></td>
                    </tr>}
            }
        </table>
        <p>Ожидаю <b class="Informator" id="info">@ViewBag.InformerSum</b></p>}
    @*<div contenteditable="true" style="width:100%!important ; box-sizing:border-box!important; position:absolute!important; ;">  @Html.TextArea("Notes")</div>*@


    <h3>Отчет о моей работе </h3>

    <table class="NumericTable">
        <tr>
            <td> <b>Сумма</b></td>
            <td><b>От кого</b></td>
            <td><b>Проект</b></td>

            <td><b>Тип</b></td>
            <td><b>Коммент</b></td>
            <td><b>Статус</b></td>


        </tr>
        @foreach (Payments cw in (IEnumerable<Payments>)ViewBag.MyJob)
        {
            if (@cw.StatusForPeers == true)
            {
                <tr onclick="window.location.href = '@Url.Action("EditPayFromPeer", "Home", new { id = cw.Id,CurUserId = Convert.ToInt32(@ViewBag.CurUserId), adminId = Convert.ToInt32(@ViewBag.adminId) })'">
                    <td><p>@cw.Sum</p></td>
                    <td><p>@cw.Employee.Name.First()@cw.Employee.Surname.First()</p></td>

                    <td><p>@cw.Contract.Name</p></td>
                    <td><p>@cw.Event.Type</p></td>

                    <td><p>@cw.Comment</p></td>
                    <td><p>✔</p></td>

                </tr>}
            else
            {
                <tr onclick="window.location.href = '@Url.Action("EditPayFromPeer", "Home", new { id = cw.Id ,CurUserId = Convert.ToInt32(@ViewBag.CurUserId), adminId = Convert.ToInt32(@ViewBag.adminId)})'">

                    <td> <p>@cw.Receipt</p></td>
                    <td><p>@cw.Employee.Name.First() @cw.Employee.Surname.First()</p></td>

                    <td><p>@cw.Contract.Name</p></td>
                    <td><p>@cw.Event.Type</p></td>

                    <td><p>@cw.Comment</p></td>
                    <td><p>Не оплачено</p></td>

                </tr>}
        }

    </table>
    <p><input type="submit" value="Добавить" name="MyJob" class="form-control-added" /></p>


    <h3>Моя ЗП</h3>

    <table class="NumericTable" id="NumTab">
        <tr>
            <td> <b>Сумма</b></td>
            <td><b>В ЗП</b></td>
            <td><b>Проект</b></td>

            <td><b>Тип</b></td>
            <td><b>Коммент</b></td>
            <td><b>Статус</b></td>


        </tr>
        @foreach (Payments cw in (IEnumerable<Payments>)ViewBag.MySalary)
        {

            {
                if (@cw.StatusForSalary == true && cw.Employee.Id == cw.EmployeeTo.Id)
                {
                    if (cw.Employee.Salary.Where(x => x.Event.Id == cw.Event.Id).Select(y => y.PercentOfSalary).First().Contains("%"))
                    {
                        //процент
                        <tr class="row1">

                            <td> <p>@cw.Receipt</p></td>
                            <td><p class="Salary">@cw.Event.Salary.Select(x => cw.Receipt * x.Value / 100).FirstOrDefault()</p></td>

                            <td><p>@cw.Contract.Name</p></td>
                            <td><p>@cw.Event.Type</p></td>

                            <td><p>@cw.Comment</p></td>
                            <td><p class="CheckMySalary">✔</p></td>

                        </tr>}
                    else if (cw.Employee.Salary.Where(x => x.Event.Id == cw.Event.Id).Select(y => y.PercentOfSalary).First().Contains("значение"))
                    {
                        //число
                        <tr class="row1">

                            <td> <p>@cw.Receipt</p></td>
                            <td><p class="Salary">@cw.Event.Salary.Select(x => x.Value).FirstOrDefault()</p></td>

                            <td><p>@cw.Contract.Name</p></td>
                            <td><p>@cw.Event.Type</p></td>

                            <td><p>@cw.Comment</p></td>
                            <td><p class="CheckMySalary">✔</p></td>

                        </tr>}
                }
                else
                 if (@cw.Employee.Id != cw.EmployeeTo.Id)
                {
                    <tr class="row1">

                        <td> <p>@cw.Receipt</p></td>
                        <td> <p class="Salary">@cw.Receipt</p></td>
                        <td><p>@cw.Contract.Name</p></td>
                        <td><p>@cw.Event.Type</p></td>

                        <td><p>@cw.Comment</p></td>
                        <td><p class="CheckMySalary">Не оплачено</p></td>

                    </tr>}

                else
                {
                    if (cw.Employee.Salary.Where(x => x.Event.Id == cw.Event.Id).Select(y => y.PercentOfSalary).First().Contains("%"))
                    {
                        //процент
                        <tr class="row1">

                            <td> <p>@cw.Receipt</p></td>
                            <td><p class="Salary">@cw.Event.Salary.Select(x => cw.Receipt * x.Value / 100).FirstOrDefault()</p></td>

                            <td><p>@cw.Contract.Name</p></td>
                            <td><p>@cw.Event.Type</p></td>

                            <td><p>@cw.Comment</p></td>
                            <td><p class="CheckMySalary">Не сходится счет или сумма</p></td>

                        </tr>}
                    else if (cw.Employee.Salary.Where(x => x.Event.Id == cw.Event.Id).Select(y => y.PercentOfSalary).First().Contains("значение"))
                    {
                        //число
                        <tr class="row1">

                            <td> <p>@cw.Receipt</p></td>
                            <td><p class="Salary">@cw.Event.Salary.Select(x => x.Value).FirstOrDefault()</p></td>

                            <td><p>@cw.Contract.Name</p></td>
                            <td><p>@cw.Event.Type</p></td>

                            <td><p>@cw.Comment</p></td>
                            <td><p class="CheckMySalary">Не сходится счет или сумма</p></td>

                        </tr>}
                }

            }
        }

    </table>
    <p> <b> План <span id="res"> @ViewBag.TotalSumMinusSal</span> @*@ViewBag.SalarySum*@    Факт  <span id="factRes"> @ViewBag.TotalFactSumMinusSal@*@ViewBag.FactSalarySum*@</span> </b></p>
    <input type="hidden" name="ResSal" id="ResSal" />
    <input type="hidden" name="ResSalFact" id="ResSalFact" />
}

@*<script>
    $(function () {
        var sum = 0;
        $('#NumTab .row1').each(function () {
            sum += parseInt($((".Salary"), this).text());

        });
        $('#res').html(sum); $('#ResSal').text(sum);

    });





</script>

<script>
    $(function () {
        var sum = 0;
        //alert($('.CheckMySalary:contains(✔)', this).parent().parent().find('td .Salary'))
        $('.CheckMySalary:contains(✔)').parent().parent().find('td .Salary').each(function (i, e) { sum += parseInt($(e).text()); });

        $('#factRes').html(sum); $('#ResSalFact').text(sum);
    });
</script>
<script>
    $(function() {
        var sal = $('#ResSal').text();
        var salFact = $('#ResSalFact').text();
        $.get('@Url.Action("GetData","Admin")', { sal, salFact, CurUserId:@ViewBag.CurUserId}); // 
});
</script>*@
