
@{
    ViewBag.Title = "Финансы компании"; Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Финансы компании</h2>

@using (Html.BeginForm("CompanyFinanses", "Admin", FormMethod.Post))
{
    <input hidden value="@ViewBag.CurUserId" name="CurUserId" />

    @*<p> @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewData["Years"], null, new { style = "width : 200px", @class = "form-control" }) @Html.ValidationMessage("Years")</p>*@
    <table>
        <tr>
            <td> <b>Работник</b></td>

            @foreach (Employee cw in (IEnumerable<Employee>)ViewData["Employees"])
            {


                <td>@cw.Name @cw.Surname.First()</td>


            }







        <tr>
            <td> <b>Зп План </b></td>
            @foreach (Employee cw in (IEnumerable<Employee>)ViewData["Employees"])
            {


                <td>@cw.SalaryPerMonth.Where(x=> x.DateMonth==Convert.ToInt32(ViewBag.CurMonth) && x.DateYear == Convert.ToInt32(ViewBag.CurYear) &&x.Employee.Id == cw.Id).Select(y => y.CurMonthSal.Value).FirstOrDefault() </td>


            }

        </tr>
        <tr>
            <td><b>ЗП факт</b></td>
            @foreach (Employee cw in (IEnumerable<Employee>)ViewData["Employees"])
            {


                <td>@cw.SalaryPerMonth.Where(x => x.DateMonth == Convert.ToInt32(ViewBag.CurMonth) && x.DateYear == Convert.ToInt32(ViewBag.CurYear) && x.Employee.Id == cw.Id).Select(y => y.CurMonthSalFact.Value).FirstOrDefault() </td>

            }

        </tr>
        <tr>
            <td><b>Принес в компанию</b></td>
            @foreach (Employee cw in (IEnumerable<Employee>)ViewData["Employees"])
            {


                <td>@cw.SalaryPerMonth.Where(x => x.DateMonth == Convert.ToInt32(ViewBag.CurMonth) && x.DateYear == Convert.ToInt32(ViewBag.CurYear) && x.Employee.Id == cw.Id).Select(y => y.IncomeToCompany).FirstOrDefault() </td>


            }
        </tr>

    </table>}

